@model Malenko_new.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tab-container">
            <div id="img"></div>
            <ul>
                <li id="st">Навики розробки</li>
                <li id="sit">Досвід роботи</li>
                <li id="et">Освіта</li>
                <li id="ct">Контакти</li>

            </ul>
        </div>
        <div id="main-container">
            <div id="cst">
                <h3>Мова С#</h3>
                <div class="text">OOP, C# .Net, ASP.Net, MVC, Linq </div>
                <h3>Мова С++</h3>
                <div class="text">OOP, STL, QT Framework</div>
                <h3>Бази даних</h3>
                <div class="text">MSSQL, MySQL, MongoDB, IndexedDB</div>
                <h3>WEB розробка</h3>
                <div class="text">HTML, CSS, Javascript, JQuery, AJAX, JSON, базові знання Node.js</div>
            </div>
            <div id="csit">
                <h3>Прилади і арматура</h3>
                <div class="text">Проектував сай-каталог для продукції компанії</div>
                <h3>Конструкторське бюро КПІ</h3>
                <div class="text">    Розробляв та програмував модулі для інформаційної системи "Кампус КПІ", <br/> використовувалась технологія:  ASP.Net WebForms, JQuery, AJAX</div>
                <h3>Frelance</h3>
                <div class="text">Розробляв API для бази даних NoSql IndexedDB, для подальшої її синхронізації з MongoDB,<br/> використовувались технології: Javascript, IndexedDB</div>
            </div>
            <div id="cet">
                <h3>КПІ</h3>
                <div class="text">На даний момент являюся студентом 4-го курсу НТУУ "КПІ", факультет Інформатики та Обчислювальної Техніки (ФІОТ), кафедра Технічної Кібернетики та Робототехніки</div>
                <h3>Курси програмування "Devclub"</h3>
                <div class="text">Закінчив у 2012 році курси програмування "Devclub" за напрямом C++.</div>
            </div>
            <div id="cct">
                <h3>Адреса</h3>
                <div class="text">Україна, місто Київ, Солом'янський район, вулиця Стадіонна 19</div>
                <h3>Телефон</h3>
                <div class="text">+38(093)853-82-83</div>
                <h3>E-Mail</h3>
                <div class="text">nikolay.malenko@gmail.com</div>
            </div>

        </div>
        
