@{
    Layout = null;
}

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="../../Content/Style.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-2.0.3.js"></script>
    <script src="../../Scripts/jquery-ui-1.10.3.js"></script>
    <script src="../../Scripts/Container.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div id="mainPage">
        <div id="header">
            <div class="main">
                @Html.ActionLink("Головна", "Index", "Home")
            </div>
            <div id="fio"></div>
            <div class="connect">
                @Html.ActionLink("Зв`язатися зі мною", "Create", "Home")
            </div>
        </div>
        <div id="content">

            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
